<h1 class="w-name"><%= @team.name %></h1>
<div class="info">
<ul class="li">
    <li><%= @team.description %></li>
</ul>

<%= link_to "Create New Wrestler For Team", new_team_wrestler_path(@team) if @team %><br>
<%= link_to "#{@team.name} Wrestlers", team_wrestlers_path(@team) if @team %><br><br>

<button type="button" class="btn btn-outline-light">
<a class="edit" href="/teams/<%= @team.id %>/edit">
Edit
</a>
</button> <br><br>

<%= link_to "Delete Team", team_path(@team), method: "delete", class: 'btn btn-outline-danger' %>

</div>