<%= render partial: 'errors/errors', locals: {model: @user} if @user %>

<%= form_with(model: @user, url: signup_path, class: "signup")  do |f|%>
    <h1> Sign Up </h1>
    <%= f.text_field :username, placeholder: 'Username'%><br>
    <%= f.password_field :password, placeholder: 'Password' %><br>
    <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %><br>
    <%= f.submit "Sign Up" %>
<% end %>