<%= render partial: 'errors/errors', locals: {model: @wrestler} if @wrestler %>

<div class="create">
<%= form_with(model: @wrestler)  do |f|%>
    <h2 class="new"> Edit Your Wrestler </h2>
    <%= f.text_field :name, placeholder: 'Name'%><br>
    <%= f.text_field :hails_from, placeholder: 'From'%><br>
    <%= f.text_field :birthdate, placeholder: 'Birthdate'%><br>
    <%= f.text_area :belt, placeholder: 'Belt(s)'%><br>
    <%= f.text_area :special_move, placeholder: 'Special Move(s)'%><br>
    <h2 class="new">Select Existing Team</h2>
    <%= f.collection_select(:team_id, Team.all, :id, :name, {prompt: "Select Team"}) %>
    <h2 class="new">Create A New Team</h2>
    <%= f.fields_for :team do |t| %>
    <%= t.text_field :name, placeholder: 'Team Name'%><br>
    <%= t.text_area :description, placeholder: 'Describe Your Team'%><br>
    <% end %>
    <%= f.submit "Update" %>
<% end %>
</div>

